.Apartment {
  width: 100%;
  padding: 10px 40px;
}
.table__icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.table__icon .icon {
  font-size: 16px;
  cursor: pointer;
  color: #1b263b;
}
.table__icon .icon-big {
  transition: 0.3s ease-in-out;
  color: #fff;
}
.icon.letcode {
  background: #03045e;
  color: #fff;
  padding: 4px 6px;
  border-radius: 4px;
}
