.Model {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ModelList {
  width: 700px;
  /* border: 1px solid red; */
}
.ModelHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ModelHeaderLogo {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #00a2d4;
}
.ModelHeaderLogo img {
  height: 60px;
}
.ModelHeaderLogo h1 {
  font-size: 16px;
  line-height: 14px;
  font-weight: 600;
}

.HeaderText {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.ModelHeader h3 {
  font-size: 28px;
  letter-spacing: -0.5px;
  color: #ffd60a;
  -webkit-text-stroke: 1px black;
  font-weight: 900;
}
.ModelHeader p {
  font-size: 12px;
  color: #171717;
  font-weight: 500;
}
.ModelInfoTable {
  width: 100%;
  margin: 20px 0;
}
.ModelInfoTable__list {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

.ModelInfoTable__list tr {
  background-color: #ffffff;
}

.ModelInfoTable__list thead tr {
  background: #d7d8de;
  font-weight: 700;
}

.ModelInfoTable__list tr th {
  font-weight: 500;
  color: #000;
  border: 1px solid #424242;
  text-align: center;
  padding: 8px 8px;
  font-size: 12px;
}

.ModelInfoTable__list.half tr td {
  padding: 4px;
  width: 50%;
  text-align: center;
  color: #000;
  font-weight: 400;
  font-size: 12px;
  border: 1px solid #424242;
}
.ModelInfoTable__list tr td {
  padding: 4px;
  max-width: 50%;
  text-align: center;
  color: #000;
  font-weight: 400;
  font-size: 12px;
  border: 1px solid #424242;
}

.ModelInfoTable__list tr:nth-child(even) {
  background-color: #fff3f3;
}

.ModelInfoTable__list tbody .select-tr {
  /* border: 2px solid #; */
  /* background: #aecbeb; */
  background: linear-gradient(to left, #64b5f6, #90caf9, #bbdefb);
}
.ModelInfoTable__list tbody .select-tr td {
  font-weight: 600;
}
/* .ModelInfoTable__list tbody tr td:nth-child(1) {
  background-color: black; 
  color: white; 
}

.ModelInfoTable__list tbody tr td:nth-child(2) {
  background-color: red; 
  color: white; 
} */
.ModelInfoTable__listmoney {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

.ModelInfoTable__listmoney tr {
  background-color: #ffffff;
}

.ModelInfoTable__listmoney thead tr {
  background: #d7d8de;
  font-weight: 700;
}

.ModelInfoTable__listmoney tr th {
  font-weight: 500;
  color: #000;
  border: 1px solid #424242;
  text-align: center;
  padding: 8px 8px;
  font-size: 12px;
}

.ModelInfoTable__listmoney tr td {
  padding: 4px;
  text-align: center;
  color: #000;
  font-weight: 400;
  font-size: 12px;
  border: 1px solid #424242;
}

.ModelInfoTable__listmoney tr:nth-child(even) {
  background-color: #fff3f3;
}

.ModelInfoTable__listmoney tbody .select-tr {
  /* border: 2px solid #; */
  /* background: #aecbeb; */
  background: linear-gradient(to left, #64b5f6, #90caf9, #bbdefb);
}
.ModelInfoTable__listmoney tbody .select-tr td {
  font-weight: 600;
}
/* .ModelInfoTable__list tbody tr td:nth-child(1) {
  background-color: black; 
  color: white; 
}

.ModelInfoTable__list tbody tr td:nth-child(2) {
  background-color: red; 
  color: white; 
} */
.table__aksiya {
  /* background: #efebce; */
  /* background: #dcf1ff; */
  background: #90e0ef;
}
.ModelInfoTable__list tr td.table__aksiya {
  color: #000;
}
.table__numbers {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
}
.table__numbers h3 {
  font-size: 14px;
  font-weight: 500;
}
