.ListAnketa {
  width: 100%;
  padding: 40px;
}
.table_icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.table_icon .icon {
  font-size: 16px;
  padding: 8px 8px;
  border-radius: 8px;
  background: #f5f3f4;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  color: #22223b;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.table_icon .icon:hover {
  color: #368f8b;
}
.group-header-icons .icon {
  font-size: 18px;
  color: #808080;
}
.MainTable__list .expanded-row {
  background: linear-gradient(
    to right,
    #e0f7fa,
    #b2ebf2,
    #80deea
  ); /* Light blue gradient */
  color: #000; /* Text color */
}
.MainTable__list .expanded-row td {
  font-weight: 500; /* Slightly bolder text */
}
