.ApartmentFilter {
  width: 100%;
  /* border: 1px solid red; */
  padding: 15px 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.ApartmentFilter_header {
  width: 100%;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ApartmentFilter_header h2 {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: -0.7px;
  font-size: 36px;
}

.ApartmentFilter__select {
  min-width: 100%;
  padding: 15px 0;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 40px;
}
.ApartmentFilterSelect__one {
  /* border: 1px solid red; */
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.ApartmentFilterSelect__one .checkbox__input {
  height: 35px;
  transform: scale(1.5);
  margin-bottom: 20px;
}
.ApartmentFilterSelect__one p,
.ApartmentFilterSearch__input p {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 10px;
}
.ApartmentFilterSelect__one select {
  font-weight: 500;
  width: 300px;
  border: none;
  border-radius: 4px;
  margin-bottom: 20px;
  background: #e3f2fd;
  padding: 6px 15px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.ApartmentFilterSearch {
  width: 100%;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
  /* border: 1px solid red; */
}

.ApartmentFilterSearch__input input {
  border: none;
  background-color: #e3f2fd;
  padding: 8px 12px;
  width: 250px;
  border-radius: 4px;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.ApartmentFilter__btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.ApartmentFilter__btn button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  font-weight: 500;
  background: #1b4332;
  color: #fff;
  cursor: pointer;
}
